target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Logs ###
logs/
*.log

### Local env ###
deploy/.env
.env

### OS ###
.DS_Store
Thumbs.db

/docs/
### Frontend ###
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
